@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,200;1,400&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  /* ====== Borders ====== */
  --main-text-color:#333;
  --header-text-color:#f18231;
  /* ====== Borders ====== */
  --border-red: none; /*2px solid red;*/
  --border-blue: none; /*2px solid blue;*/
  --border-black: none; /*2px solid black;*/
}

/* ===== Global Styles ===== */

body {
  background: #e7dac7;
  background-color: #ffffff; 
}

.reveal {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  color: var(--main-text-color);
}

::selection {
  color: #e7dac7;
  background: red; /*#445fee;*/
  text-shadow: none;
}

::-moz-selection {
  color: #e7dac7;
  background: #445fee;
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}
 

/* ===== Headers ===== */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: var(--header-text-color);
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: normal;
  text-shadow: none;
  word-wrap: break-word; 
  background-color: transparent;
}

.reveal h1 {
  font-size: 2.2em; 
}

.reveal h2 {
  font-size: 1.60em;
  font-weight: 1000;
}

.reveal h3 {
  font-size: 1.20em; }

.reveal h4 {
  font-size: 1em; 
}

.reveal h1 {
  text-shadow: none;
}
 
/* ===== Otros elementos ===== */

.reveal p {
  margin: 20px 0;
  line-height: 1.3; 
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; 
}

.reveal strong,
.reveal b {
  font-weight: bold; 
}

.reveal em {
  font-style: italic;
}
 
/* ===== Cuadros de lista ===== */

.reveal ul li {
  font-size: 1.0rem;
  line-height: 1.5rem;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold; 
}

.reveal dd {
  margin-left: 40px; 
}

.reveal sup {
  vertical-align: super;
  font-size: smaller; 
  }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; 
  }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; 
  }

.reveal small * {
  vertical-align: top; 
  }
 

/* ===== Citas ===== */

.reveal blockquote {
  width: 80%;
  text-align: justify;
  box-shadow: none;
  line-height: 1.55;
  font-size: 100%;
  position: relative;
  color: #681413;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.reveal blockquote p::before,
.reveal blockquote p::after {
  position: absolute;
  font-size: 1.5em;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #681413;
}
.reveal blockquote p::before {
  top: -0.125em;
  left: -0.5em;
  content: '\201C'; 
}
.reveal blockquote p::after {
  bottom: 0;
  right: -0.3em;
  content: '\201D'; 
}

.reveal q {
  font-style: italic; 
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Roboto Mono", monospace;
  line-height: 1.2;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); 
}

.reveal code {
  font-family: "Roboto Mono", monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  word-wrap: normal;
  font-size: 85%; 
}
 
/* ===== Tables ===== */
  
.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; 
}

.reveal table th {
  font-weight: bold; 
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; 
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; 
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; 
}
 
/* ===== Links / Enlaces ===== */

.reveal a {
  color: #445fee;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:hover {
  color: #112cbb;
  text-shadow: none;
  border: none; 
}

.reveal .roll span:after {
  color: #fff;
  background: #1332d2; 
}
 
/* ===== Images ===== */

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #060606;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none;
  background: none; 
}

.reveal section img.full {
  margin: 0px 0px;
  border: 0;
  box-shadow: none;
  background: none; 
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; 
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #445fee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); 
}
 
.reveal figure figcaption {
  font-size: 0.70rem;
}
 
/* ===== Navigation Controls ===== */

.reveal .controls {
   color: #445fee;
}
 
/* ===== Progress bar ===== */

.reveal .progress {
   background: rgba(0, 0, 0, 0.2);
   color: #445fee; 
}
 
.reveal .progress span {
   -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
 

/* ===== Layouts ===== */

.wrapperSlide ul li,
.wrapperSlideHorizontal ul li,
.containerSlide ul li {
  font-size: 1rem;
  line-height: 1.3rem;
}

.container-slide{
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10) {


}

.wrapperSlideHorizontal {
  display: grid;
  grid-template-rows: 5rem 1fr;
  margin: 0 auto;
  padding: 0;
}

.wrapperSlideHorizontal.redux {
  grid-template-rows: 3rem 1fr;
}

.wrapperSlideHorizontal .slideText{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  border: var(--border-blue);
  column-gap: 1rem;
}
.wrapperSlideHorizontal .slideText ul {
  width:20rem;
}
.wrapperSlideHorizontal .slideText ul li {
  font-size: 0.75rem;
}

.wrapperSlideHorizontal .slideText p {
  font-size: 0.90rem;
  text-align: start;
}

.wrapperSlideHorizontal .slideContent {
  display: flex;
  max-height: 50vh;
  align-items: center;
  justify-content: center;
}

.wrapperSlideHorizontal .slideContent figure img {
  width: 100%;
  max-height: 50vh;
  object-fit:cover;
  margin: 0;
  border: none;
} 

.wrapperSlide {
  display: grid;
  grid-template-columns: 15rem 1fr;
  margin: 0 auto;
  padding: 0;
}

.wrapperSlide .slideText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  border:  var(--border-blue);
}

.wrapperSlide .slideText ul li {
  font-size: 0.75rem;
}

.wrapperSlide .slideText p {
  font-size: 0.90rem;
  text-align: start;
}

.wrapperSlide .slideContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideContent {
  border: var(--border-red);
  height: 60vh;
}

.slideContent.portrait-img  {
  border: var(--border-red);
  height: 50vh;
}

.slideContent figure img{
  width: 100%;
  max-height: 60vh;
  border:none;
}

.slideContent.portrait-img figure img{
  width: 100%;
  max-height: 50vh;
  object-fit: scale-down;
  margin: 0;
}



.containerSlide {
  display: flex;
  margin: 0;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: var(--border-red);
  height: 65vh;
}

.containerSlide figure img{
  margin: 0;
  border: 0;
  max-height: 65vh;
}

.layout-1col {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items:center;
}


/* Imagen sin etiqueta dentro del contenedor */
.layout-1col img{
  height: 60vh;
  margin: 0;
  border: 0;
}

.layout-2col {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items:center;
}

.layout-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.layout-col-50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items:center;
}

.layout-col-40-60 {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-items:center;
}

.layout-col-60-40 {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items:center;
}

.layout-3x2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items:center;
}

.layout-3x2 figure img {
  height: 20vh;
  object-fit:scale-down;
  border: none;
  margin:0;
}

.layout-4x2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  justify-items: center;
}

.layout-4x2 figure img {
  height:20vh;
  object-fit:scale-down;
  border: none;
  margin:0;
}

.layout-3x1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
}




/* ===== Logo esquina ===== */

.keynoteLogoDown {
  display: block;
  position: fixed;
  width: 80px;
  height: 100px;
  z-index: 0;
  right: 5px;
  bottom: 65px;
}

.keynoteLogoUp {
  display: block;
  position: fixed;
  width: 10%;
  z-index: 0;
  left: 5px;
  top: 5px;
}

.keynoteLogoUp img {
  width: 10rem;
}

.notegraph {
  color:purple;
  font-size: 0.80em;
}


 
 /* .reveal .j-icon {
   display: inline-block;
   vertical-align: middle;
   margin-right: 1rem; }
 
 .reveal em {
   color: #681413; }
 
 .reveal pre {
   line-height: 1.2;
   font-size: 80%; }
 
 .reveal code {
   font-family: 'Dank Mono', monospace; }
 
 /*
 .reveal img[src*="svg"] {
   max-height: 75vh; }
 
 .reveal table td,
 .reveal table th {
   border-bottom: 0; }
 
 .reveal tr:nth-child(odd) {
   background-color: #f2ebe0; }
 
 .reveal td {
   vertical-align: middle; }
 
 .reveal .png-filters td:nth-child(2) {
   font-size: 65%; }
 
 .reveal .png-filters td:nth-child(3) {
   font-size: 65%;
   width: 25%; }
 
 .reveal .png-filters td:nth-child(4) {
   width: 30%; }
 
 .reveal [class^="txtbg"] {
   font-size: 1.999em;
   display: inline-block;
   padding: 0.25em;
   border-radius: 0.25em; }
 
 .reveal .txtbg-light {
   background-color: rgba(255, 255, 255, 0.75); }
 
 .reveal .txtbg-dark {
   background-color: rgba(0, 0, 0, 0.75); }
 
 .reveal .kaomoji {
   white-space: nowrap;
   font-family: Arial, sans-serif; }
 
 span.emoji {
   font-family: 'Apple Color Emoji', 'Segoe UI Emoji';
   font-style: normal;
   font-size: 125%;
   display: inline-block;
   vertical-align: middle; }
 
 span[role=img][aria-label],
 span[role=img][aria-label] {
   position: relative; }
 
 span[role=img][aria-label]:focus::after,
 span[role=img][aria-label]:hover::after {
   font-size: 25%;
   font-family: "Signika", "HeiTi SC", "Microsoft YaHei", sans-serif;
   font-weight: 400;
   position: absolute;
   display: block;
   line-height: 1.2;
   content: attr(aria-label);
   z-index: 1;
   background: #060606;
   color: #e7dac7;
   padding: 0.25em;
   border: 1px solid #e7dac7;
   box-shadow: 2px 2px 4px #060606; }
 
 .livecode {
   display: grid;
   grid-gap: 0.5em;
   margin: 0;
   padding: 0; }
   .livecode .result {
     max-height: 100%;
     overflow-y: scroll;
     width: 100%;
     border: 1px dashed #681413; }
     .livecode .result li {
       line-height: 0; }
     .livecode .result p {
       margin: 0;
       padding: 0; }
   .livecode .code {
     text-align: left;
     width: 100%;
     font-family: 'Dank Mono', monospace;
     color: #efdcbc;
     background-color: #3f3f3f;
     padding: 0.5em;
     border-radius: 0.25em;
     overflow-y: scroll;
     font-size: 75%; }
 
 .code-editor {
   display: block;
   height: 100%;
   white-space: pre-wrap; }
 
 .vidcode {
   display: grid;
   grid-template-columns: 50% 50%;
   height: 75vh; }
   .vidcode video {
     align-self: center; }
 
 .livecode-2p {
   grid-template-columns: 65% calc(35% - 0.5em);
   height: 70vh; }
 
 .code-editor {
   display: block;
   height: 100%;
   white-space: pre-wrap; }
 
 h2.flicker {
   display: inline-block;
   font-size: 8rem;
   color: rgba(255, 255, 255, 0.5);
   padding: 3rem 4.5rem;
   border: 0.4rem solid rgba(255, 255, 255, 0.85);
   border-radius: 2rem;
   text-transform: uppercase;
   animation: flicker 1.5s infinite alternate; }
 
 @keyframes flicker {
   0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
     text-shadow: -0.2rem -0.2rem 1rem rgba(255, 255, 255, 0.5), 0.2rem 0.2rem 1rem rgba(255, 255, 255, 0.5), 0 0 2rem #f40, 0 0 4rem #f40, 0 0 6rem #f40, 0 0 8rem #f40, 0 0 10rem #f40;
     box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5), inset 0 0 0.5rem rgba(255, 255, 255, 0.5), 0 0 2rem #08f, inset 0 0 2rem #08f, 0 0 4rem #08f, inset 0 0 4rem #08f; }
   20%, 24%, 55% {
     text-shadow: none;
     box-shadow: none; } 
 } */
 
 
 
 /**
  * Añadidos personales
  *
  * 
  */
 /*
  .reveal 
 
 
 .reveal .slides section .fragment.step-fade-in-then-out {
   opacity: 0;
   display: none; 
   top:130px;
   vertical-align:top;
 }
 .reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
   opacity: 1;
   display: inline; 
   top:130px;
   vertical-align:top;
 }
 
 .stack-fragmentos{
   position:relative;
 }
 .stack-fragmento-elem{
   position:absolute; 
   margin-left: auto; 
   margin-right: auto; 
   left:0; 
   right:0;
 }
 
 */



